  <link rel="stylesheet" href="/css/homepage.css">

<main>
  <img src="images/homegraphicL.png" class="homegraphicL">
  <section class="tab1">
    <img src="images/homeheading.png" class="homeheading">
    <p class="tab1text1">
      Generate a multi-step skincare regimen customized to your specific skin type, concerns, and needs by completing the Discover Skin skincare quiz!
    </p>
    <a href="/quiz"><img src="images/homebtn.png" class="homebtn"></a>
    <p class="tab1text2">
      Instead of providing you a list of branded products, this quiz will create a list of the specific types of products and ingredients to look out for when shopping skincare!
    </p>
  </section>

  <img src="images/homegraphicR.png" class="homegraphicR">
  <section class="tab2">
    <a href="/products"><img src="images/hometab2.png" class="hometab2"></a>
    <p class="tab2text1">    Tip! <br>
    Use your quiz results as a guide while perusing our trustworthy products section!
    </p>
  </section>

</main>
