<link rel="stylesheet" href="/css/quiz.css">




<main>
    <section class="tab1">
        <form class="skinquiz">
            <labelfor="skin type">What is your skin type?</label>
            <select id="skintype" name="skintype">
                <option value="oily">Oily</option>
                <option value="dry">Dry</option>
                <option value="combination">Combination</option>
                <option value="sensitive">Sensitive</option>
            </select>
            <br><br>
            <label for="concerns">Do you have any specific skin concerns? If so, select which ones below:</label> <br>
            <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
            <select id="concerns" name="concerns" size="4" multiple>
                <option value="hyperpigmentation / dullness">hyperpigmentation</option>
                <option value="sensitivity">sensitivity</option>
                <option value="aging">flakiness</option>
                <option value="dullness">dullness</option>
            </select>
            <br><br>
            <label for="skin type">What type of ingredients do you prefer?</label>
            <select id="ingredients" name="ingredients">
                <option value="natural">natural</option>
                <option value="chemical">chemical</option>
                <option value="combination">combination</option>
            </select>
            <br><br>
            <button id="submitquizbtn" type="submit">Submit Quiz!</button>
    </section>


    <section class="tab2">


    </section>
</main>


<script src="./js/quiz.js" type="text/javascript"></script>


</form>
</div>
