<link rel="stylesheet" href="css/quiz.css">


<main>
    <section class="tab3">
        <h2>quiz results!</h2>
        <p> <br>
        skin type: combination<br><br>
        skin concerns: hyperpigmentation, fine lines, dehydration<br><br>
        SPF preference: chemical and physical ingredients <br><br>
        routine time: AM <br> <br>
        cleanser: foaming liquid cleanser <br> <br>
        toner: look for vitamin C, niacinimide, and hyaluronic acid. <br> <br>
        serums: for hyperpigmentation, look for a niacinimide and vitamin C serum. niacinimide evens the skin tone while vitamin C brightens. <br> <br>
        for fine lines and dehydration, look for hyaluronic acid in serums, as it will help to hydrate, plump, and fill in those fine lines. try a retinol cream/ serum at night. don't use it during the day because retinol makes the skin very sensitive to UV rays. <br> <br>
        moisturizer: for combination skin, a regular lotion moisturizer will do to hydrate evenly without adding too many oils <br> <br>
        SPF: sunscreen is crucial to conclude your routine! look for a combination of natural and chemical ingredients. Chemical ingredients, although possibly irritating, will seep into the skin to prevent UV rays from impacting it. natural ingredients, on the other hand, sit atop the skin to block UV rays. natural ingredients may leave a white finish on your face since it doesn't work into the skin, so a combination of both natural and chemical will prevent this without being too irritating to the skin.
        </p>
    </section>


</main>
