:root {
    --lightPeach: #FDF9F5;
    --orange: #FFA05B;
    --hotPink: #FE415E;
    --pink: #FF6BA8;
    --brownBlack: #594735;
    --crayolaPeach: #ffcba4;
    --hoverPeach: #fce8d9; 
    --brown: #664524;
}

* {
    font-family:  'Montserrat',Arial, Helvetica, sans-serif;
}

#products-heading {
    color: #664524; 
    font-family: 'Montserrat';
}
 
.topRow {
    background-color: var(--hotPink);
    color: white;
}

.productsTable {
    width: 85%;
}