:root {
    --deepPeriwinkle: #9466f2;
    --hoverPeriwinkle: #8142ff;
    --focusPeriwinkle: #a476ff;
    --monetBlue:#98bdcb;
    --hoverBlue: #6dabc1;
    --focusBlue: #97cfe3;
    --icyWhite:#f8f8ff;
    --princessPink:#dd4f91;
    --hoverPink: #ab3d70;
    --focusPink: #e67aac;
    --duskyGray:#6e6e6e;
    --crayolaPeach: #ffcba4;
    --hoverPeach: #fce8d9; 
    --hotPink: #e75353;
    --brown: #664524;
}

* {
    margin: 0;
    padding: 0;
    font-family:  'Montserrat',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.flex-container {
    margin: 20px;
}

.w-72 {
    width: 10rem;
}
.quiz-container {
    background: var(--icyWhite);
    width: 90%;
    max-width: 65%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content:space-between;
}

#headline {
    display: flex;
    justify-content: center;
    font-weight: bold;
    

}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 22px;
    color: var(--princessPink);
    font-weight: 500;
    padding-bottom: 2%;
    text-align: center;
}

.button {
    background: var(--hotPink);
    color: var(--icyWhite);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--dreamyBlue);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background: var(--crayolaPeach);
    color: white;
}

.button:disabled {
    cursor:default;
}

.button:active:not([disabled]) {
    background-color: var(--focusBlue);
    color: white;
}

#next-button {
    background: var(--princessPink);
    color: white;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
    display: block;
}

#next-button:hover {
    background: var(--crayolaPeach);
    color: white;
}

#next-button:active {
    background-color: var(--focusPink);
    color: white;
}

/* main {
    display: flex;
}

.submit {
    width: 100%;
}

.submit-text {
    width: 100%;
}

.tab1 {
    position: absolute;
    top: 180px;
    left: 240px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
}


.tab2 {
    position: relative;
    top: 20px;
    font-family: 'Montserrat', sans-serif;  
}


.profiletab2 {
    /* width: ; */
    /* position: relative;
    left: 650px;
    top: 40px;


}


.tab3 {
    position: absolute;
    top: 140px;
    left: 240px;
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
} */
 
