:root {
    --lightPeach: #FDF9F5;
    --orange: #FFA05B;
    --hotPink: #FE415E;
    --pink: #FF6BA8;
    --brownBlack: #594735;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Montserrat',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.flex-container {
    margin: 20px;
}

#quiz-container {
    background: var(--lightPeach);
    width: 90%;
    max-width: 65%;
    margin: 100px auto 0;
    margin-top: 60px;
    border-radius: 40px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content:space-between;
}

#headline {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--brownBlack);
    margin-top: -10px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    margin-top: 10px;
    margin-bottom: -2px;
    font-size: 22px;
    color: var(--hotPink);
    font-weight: 700;
    padding-bottom: 2%;
    text-align: center;
}

.button {
    background: none;
    border: 1px solid var(--brownBlack);
    color: var(--brownBlack);
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background: var(--hotPink);
    color: white;
}

.button:disabled {
    cursor: default;
    border: 1px;
    border: 1px solid var(--brownBlack);
    color: var(--brownBlack);
}

.button:active {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.button:focus {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.button::not([disabled]) {
    cursor: pointer;
    color: var(--brownBlack);
}

#next-button {
    background: var(--pink);
    color: white;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
    display: block;
}

#next-button:hover {
    background: var(--hotPink);
    color: white;
}

#next-button:active {
    background-color: var(--pink);
    color: white;
}

/*----------------------------- MEDIA QUERIES----------------------- */
@media screen and (max-width: 768px) {
    nav ul li {
        margin-left: 0px;
        padding-bottom: 20px;
        padding-left: 13px;
        padding-top: 19px;
    }
    .quiz-container {
        max-width: 90%;
        margin-top: 75px;
    }
}